pipeline/pl_provisioned_to_output.json
{
	"name": "pl_provisioned_to_output",
	"properties": {
		"activities": [
			{
				"name": "plac_nb_provisioned_to_output",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "plac_lookup_output_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "plac_lookup_cluster_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/amlsam/common/generic_script_move_data_provisioned_to_output",
					"baseParameters": {
						"business_date": {
							"value": "@pipeline().parameters.business_date",
							"type": "Expression"
						},
						"schema_name": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.schema_name}",
							"type": "Expression"
						},
						"table_name": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.table_name}",
							"type": "Expression"
						},
						"header": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.file_header}",
							"type": "Expression"
						},
						"data_concat": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.data_concat}",
							"type": "Expression"
						},
						"output_file_path": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.output_filepath}",
							"type": "Expression"
						},
						"filename": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.target_fiename}",
							"type": "Expression"
						},
						"static_file": {
							"value": "@{activity('plac_lookup_output_metadata').output.firstRow.static_file}",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dtbr",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbr_cluster_id": {
							"value": "@activity('plac_lookup_cluster_details').output.firstrow.dbr_cluster_id",
							"type": "Expression"
						},
						"Secret_name": {
							"value": "@activity('plac_lookup_cluster_details').output.firstrow.Secret_name",
							"type": "Expression"
						},
						"Databrick_Workspace_URL": {
							"value": "@activity('plac_lookup_cluster_details').output.firstrow.Databrick_Workspace_URL",
							"type": "Expression"
						},
						"workspace_resource_id": {
							"value": "@activity('plac_lookup_cluster_details').output.firstrow.workspace_resource_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "plac_lookup_output_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_Lookup_OutputMetadata_table]",
						"storedProcedureParameters": {
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.table_name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_outputmetadata_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "plac_lookup_cluster_details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_Lookup_clusterDetails]",
						"storedProcedureParameters": {
							"inputParam": {
								"type": "Int16",
								"value": "3"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_clusterdetails",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"business_date": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "AMLSAM_PROJECT/GENERIC_PIPELINES/OUTPUT/LAYER_1"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-03T02:55:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}